@using Domain.Entities;
@model Day

@{
    ViewBag.Title = "Расписание";
}

<h2>Расписание</h2>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Начало</th>
                <th>Окончание</th>
                <th>Описание</th>
                <th>Комментарий</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var period in Model.Periods)
            {
                <tr>
                    <td>@period.Number</td>
                    <td></td>
                    <td></td>
                    <td>@period.Description</td>
                    <td>@period.Comment</td>
                </tr>
            }
        </tbody>
    </table>
</div>

